<div  ng-controller="WarningsController as vm">

	<md-content layout="row" layout-align="center center">
		<div class="item">
			<img src="./assets/images/traffic.png">
			<span class="caption" text-align="center">{{vm.traffic}}</span>
		</div>
		<div class="item">
			<img src="./assets/images/best-hour.png">
			<span class="caption">{{vm.besthour}}</span>
		</div>
		<div class="item">
			<img src="./assets/images/busiest-day.png">
			<span class="caption">vm.CurrentDate</span>
		</div>
	</md-content>
</div>